name: Build and Upload pangoe-forge-esgf to PyPI
on:
  release:
    types:
      - published

jobs:
  build-artifacts:
    runs-on: ubuntu-latest
    if: github.repository == 'jbusecke/pangeo-forge-esgf'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools setuptools-scm[toml] wheel twine
      - name: Build and publish
        env:
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          python -m build
          twine check dist/*
          twine upload dist/*
